.Content {
  @apply min-h-screen bg-gray-100;

  &__title {
    @apply text-6xl py-4 font-black text-center uppercase text-gray-800;
  }

  &__paragraph {
    @apply pb-8 mx-auto font-light text-lg text-gray-700 tracking-wide;
    width: 38ch;
  }
}
