.Header {
  @apply px-10 py-5 w-full flex justify-between items-center fixed transition-colors duration-150;

  &__logo {
    @apply text-3xl font-black uppercase transition-colors duration-200;
  }
}
